name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3.0.2
    - uses: actions/setup-node@v3.4.1
      with:
        node-version: 14.x
        cache: npm
    - run: npm ci
    - run: npm run lint:js

  build:
    name: "Node ${{ matrix.node-version }}"

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x]

    steps:
    - uses: actions/checkout@v3.0.2
    - uses: actions/setup-node@v3.4.1
      with:
        node-version: ${{ matrix.node-version }}
        cache: npm
    - name: install dependencies
      run: npm ci
    - run: npm run test:jest

  release-it-compat:
    name: "release-it@${{ matrix.release-it-version }}"

    runs-on: ubuntu-latest

    strategy:
      matrix:
        release-it-version: ["14.0.0", "14.1.0", "14.2.0", "15.1.3"]

    steps:
    - uses: actions/checkout@v3.0.2
    - uses: actions/setup-node@v3.4.1
      with:
        node-version: 14
        cache: npm
    - name: install dependencies
      run: npm ci
    - run: npm install --saveDev release-it@${{ matrix.release-it-version }}
    - run: npm run test:jest
